{% extends "navbar.html" %}
{% block title %}Event Form{% endblock title %}
{% load static %}
{% block event %}
    {% comment %} Form {% endcomment %}
    <div class="grid grid-cols-1 mx-auto items-center justify-center">
        <div class="w-1/2 mx-auto">
             {% if messages %}
                {% for message in messages %}
                    <div class="px-2 py-1 {% if message.tags == 'success' %}bg-green-400{% endif %} in ">{{message}}</div>
                {% endfor %}
            {% endif %}
        </div> 
        <div class="mx-auto items-center justify-center">
            <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="bg-blue-500 text-white rounded-md p-3 mt-4">Submit</button>
        </form>
        </div>
        
    </div>
    
{% endblock event %}