{% extends "base.html" %}
{% block title %}Events{% endblock title %}
{% load static %}
{% block content %}
    <!--Search bar -->
    
    <div class="header flex mx-auto items-center justify-center my-20 space-x-8 px-10">
        <div>
            <p class="text-4xl text-green-500">Event Search</p>
        </div>
        <div class="search space-x-4">
            <form action="">
            <input type="search" placeholder="Search Event" name="search" class="border-2 h-10 px-2 w-60">
            <input type="location" placeholder="Event Location" name="location" class="border-2 h-10 px-2 w-60">
            <button type="submit" class="border-1 h-10 text-white bg-blue-500 p-2 rounded-md">Filter</button>
            </form>
        </div>
    </div>
   
    <div class="mx-auto items-center justify-center">
        
        {% for event in events %}
        <a href="{% url "event_details" event.id %}">
        <div class="bg-white h-60 m-4 rounded-lg mx-auto sm:w-auto grid grid-cols-1 md:w-1/2 grid grid-cols-2">
            <div class="p-5">
                <img class="h-40 w-60" src="{{event.asset.url}}" alt="">
            </div>
            <div class="p-5 space-y-4 sm:w-full">
                <p class="text-xl"> {{event.name}} </p>
                <p class="text-md">Event Catergory: {{event.category}} </p>
                <p class="text-md">Location: {{event.location}} </p>
                <button class="border-2 p-2 bg-blue-500 rounded-md text-white">Details</button>
            </div>
        </div>
        </a>
        {% endfor %}
        
    </div>
{% endblock content %}